.page-header {
  min-height: 100px;
  background-color: #ffffff;
}
.content-wrapper {
  width: 83%;
  margin: 0 auto;
}
.content-wrapper--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 13%;
  margin: 3% 0 2.5% 0;
}
.header-nav {
  width: 35%;
  margin-right: 8.3%;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header-nav__item a {
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}
.contacts {
  width: 20.5%;
  margin: 0 1.5%;
}
.contacts__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts__item a {
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  font-size: 22px;
  line-height: 22px;
}
.contacts__item--icon a {
  display: block;
  width: 27px;
  height: 27px;
  font-size: 0;
}
.contacts__item--whatsapp a {
  background-image: url("../img/sprite-bureau.png");
  background-position: -474px -423px;
}
@media (min-resolution: 1.5dppx) {
  .contacts__item--whatsapp a {
    background-image: url("../img/icon-whatsapp-2x.png");
    background-size: cover;
  }
}
.contacts__item--telegram a {
  background: transparent url("../img/sprite-bureau.png") no-repeat center;
  background-position: -506px -50px;
}
@media (min-resolution: 1.5dppx) {
  .contacts__item--telegram a {
    background-image: url("../img/icon-telegram-2x.png");
    background-size: cover;
  }
}
.btn {
  display: block;
  min-width: 140px;
  padding: 13px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #5f29cc;
  border: 1px solid #5f29cc;
  border-radius: 2px;
}
.about {
  padding: 6% 0;
  background: url("../img/background-about-2x.jpg") no-repeat;
  background-position: top -30px left 0;
  background-size: cover;
}
.about__title {
  margin: 0;
  padding: 0;
  padding-right: 50%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
}
.about__description {
  margin: 0;
  padding: 0;
  margin-top: 2%;
  padding-top: 2.5%;
  padding-right: 50%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  color: #ffffff;
}
.about__more {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-right: 68%;
}
.about__btn {
  color: #ffffff;
  background-color: #5f29cc;
}
.about__btn--more {
  background-color: transparent;
  border-color: #ffffff;
}
.caption {
  position: absolute;
  bottom: -5%;
  right: 10%;
  max-width: 20%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  color: #ffffff;
  text-align: right;
}
.caption__name {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.caption__position {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}
.caption__position span {
  text-decoration: underline;
}
.menu {
  background-color: #ffffff;
}
.menu__wrapper {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 2% 7.5% 5% 7.5%;
}
.menu-item {
  position: relative;
  width: 32%;
  padding-top: 13.5%;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}
.menu-item::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  content: "";
  width: 112px;
  height: 113px;
  background: transparent url("../img/sprite-bureau.png") no-repeat center;
  background-position: -50px -296px;
}
@media (min-resolution: 1.5dppx) {
  .menu-item::before {
    background-image: url("../img/icon-mentor-2x.png");
    background-size: cover;
  }
}
.menu-item:nth-child(2)::before {
  background-position: -50px -50px;
}
@media (min-resolution: 1.5dppx) {
  .menu-item:nth-child(2)::before {
    background-image: url("../img/icon-expert-2x.png");
    background-size: cover;
  }
}
.menu-item:last-child::before {
  background-position: -262px -296px;
}
@media (min-resolution: 1.5dppx) {
  .menu-item:last-child::before {
    background-image: url("../img/icon-speaker-2x.png");
    background-size: cover;
  }
}
.menu-item__title {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
}
.menu-item__description {
  margin: 0;
  padding: 0;
  margin-top: 3%;
  margin-bottom: 7.5%;
}
.menu-item__btn {
  max-width: 145px;
  margin: 0 auto;
}
.persons {
  padding-top: 3.5%;
  padding-bottom: 3.75%;
  background-color: #fafafa;
  text-align: center;
}
.persons__title {
  margin: 0;
  padding: 0;
  padding: 0 20%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
.persons__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 4%;
  margin-bottom: 3%;
}
.persons__btn {
  margin: 0 auto;
  max-width: 24%;
  color: #ffffff;
  background-color: #5f29cc;
}
.personality {
  margin: 0;
  padding: 0;
  width: 23.75%;
  margin-top: 2%;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}
.personality__caption {
  margin: 0;
  padding: 0;
  max-height: 33%;
  padding-top: 7%;
  padding-left: 9%;
  padding-bottom: 7%;
  background-color: #ffffff;
}
.personality__caption b {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
}
.personality__caption p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #808080;
}
.success-stories {
  padding: 4% 0;
  background-color: #ffffff;
}
.success-stories__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
.success-stories__slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 3.75%;
  padding: 0 10%;
}
.success-stories__control--prev {
  left: 0;
  top: 50%;
}
.success-stories__control--next {
  right: 0;
  top: 50%;
}
.control {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 0;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #efe9fa;
  cursor: pointer;
}
.control::before,
.control::after,
.control--next::before,
.control--next::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 10px;
  background-color: #5f29cc;
}
.control::before {
  top: 17px;
  left: 23px;
  transform: rotate(45deg);
}
.control::after {
  top: 23px;
  left: 23px;
  transform: rotate(-45deg);
}
.control--next::before {
  top: 17px;
  left: 25px;
  transform: rotate(-45deg);
}
.control--next::after {
  top: 23px;
  left: 25px;
  transform: rotate(45deg);
}
.control--active {
  background-color: #5f29cc;
}
.control--active::before,
.control--active::after {
  background-color: #ffffff;
}
.slide {
  width: 32%;
  box-sizing: border-box;
  padding-top: 3%;
  padding-bottom: 2.75%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}
.slide img {
  display: block;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
.slide__name {
  margin: 0;
  padding: 0;
  text-align: center;
}
.slide__company {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #808080;
}
.slide__story {
  margin: 5% 10% 0 10%;
}
.partners {
  padding: 3% 0;
  background-color: #fafafa;
}
.partners__title {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 3%;
  padding: 0 12.5%;
}
.partners__item {
  width: 140px;
  margin-bottom: 2.5%;
}
.partners__item img {
  margin: 0 auto;
}
.quotes-slider {
  min-height: 580px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  background: #ffffff url("../img/slide-tinkoff.jpg") no-repeat top;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .quotes-slider {
    background: #ffffff url("../img/slide-tinkoff-2x.jpg") no-repeat top;
  }
}
.success-stories__control--prev {
  left: 0;
  top: 50%;
}
.success-stories__control--next {
  right: 0;
  top: 50%;
}
.quote {
  position: relative;
  padding: 15% 12.5%;
}
.quote__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 50px;
}
.quote__paragraph {
  margin: 0;
  padding: 0;
  margin-top: 2%;
  padding-top: 2.5%;
  padding-right: 37%;
}
.quote__control {
  position: absolute;
}
.quote__control--prev {
  left: 0;
  top: 50%;
}
.quote__control--next {
  right: 0;
  top: 50%;
}
.order {
  padding-top: 12%;
  padding-bottom: 5%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  text-align: center;
  color: #ffffff;
  background: url("../img/background-order.jpg") no-repeat top;
  border-bottom: 2px solid #f4f4f4;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .order {
    background: url("../img/background-order-2x.jpg") no-repeat top;
  }
}
.order__title {
  margin: 0;
  padding: 0;
  padding: 0 22%;
  font-size: 40px;
  line-height: 50px;
}
.order__paragraph {
  margin: 0;
  padding: 0;
  padding: 1.25% 22% 0 22%;
}
.order__btn {
  max-width: 240px;
  margin: 4% auto 0 auto;
  color: #ffffff;
  background-color: #5f29cc;
}
.social {
  padding: 3% 0;
  background-color: #ffffff;
}
.social__title {
  margin: 0;
  padding: 0;
  margin: 0 22%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}
.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1.75%;
}
.social__item {
  width: 18%;
  box-sizing: border-box;
  padding-top: 18px;
  padding-bottom: 18px;
  border-color: #ebebeb;
}
.social__item a {
  position: relative;
  padding-left: 38px;
  text-decoration: none;
  color: #7d7d7d;
}
.social__item a::before {
  position: absolute;
  top: -3px;
  left: 0;
  content: "";
  width: 22px;
  height: 23px;
  background: transparent url("../img/sprite-bureau.png") no-repeat center;
}
.social__item--fb a::before {
  background-position: -261px -51px;
}
@media (min-resolution: 1.5dppx) {
  .social__item--fb a::before {
    background-image: url("../img/icon-fb-2x.png");
    background-size: cover;
  }
}
.social__item--vk a::before {
  background-position: -475px -300px;
}
@media (min-resolution: 1.5dppx) {
  .social__item--vk a::before {
    background-image: url("../img/icon-vk-2x.png");
    background-size: cover;
  }
}
.social__item--twi a::before {
  background-position: -475px -177px;
}
@media (min-resolution: 1.5dppx) {
  .social__item--twi a::before {
    background-image: url("../img/icon-twi-2x.png");
    background-size: cover;
  }
}
.social__item--link a::before {
  background-position: -261px -174px;
}
@media (min-resolution: 1.5dppx) {
  .social__item--link a::before {
    background-image: url("../img/icon-link-2x.png");
    background-size: cover;
  }
}
.social__item--inst a::before {
  background-position: -384px -50px;
}
@media (min-resolution: 1.5dppx) {
  .social__item--inst a::before {
    background-image: url("../img/icon-inst-2x.png");
    background-size: cover;
  }
}
.page-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e8e8e8;
}
.footer-nav {
  width: 57%;
}
.footer-nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav__item a {
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  font-size: 14px;
  line-height: 14px;
}
.copyright {
  display: block;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #808080;
}
