.about {
	padding: 6% 0;
	background: url("../img/background-about-2x.jpg") no-repeat;
	background-position: top -30px left 0;
	background-size: cover;
}

.about__title {
	.no-margins();
	padding-right: 50%;
	font-family: @o-sans;
	font-size: 40px;
	line-height: 50px;
	color: @white;
}

.about__description {
	.no-margins();
	margin-top: 2%;
	padding-top: 2.5%;
	padding-right: 50%;
	.font-basic();
	color: @white;
}

.about__more {
	.flex();
	margin-top: 3%;
	margin-right: 68%;
}

.about__btn {
	color: @white;
	background-color: @purple;
}

.about__btn--more {
	background-color: transparent;
	border-color: @white;
}