.contacts {
	width: 21.5%;
	margin: 0 1.5%;
}

.contacts__list {
	.flex();
	.list-style-none();
}

.contacts__item {
	a {
		text-decoration: none;
		.font-basic();
		font-size: 22px;
		line-height: 22px;
	}

	a:hover {
		.item-hover();
	}
}

.contacts__item--icon {
	a {
		display: block;
		width: 27px;
		height: 27px;
		font-size: 0;
	}
}

.contacts__item--whatsapp {
	a {
		background-image: url("../img/sprite-bureau.png");
		background-position: -474px -423px;
	}
}

@media (min-resolution: 1.5dppx) {
	.contacts__item--whatsapp {
		a {
			background-image: url("../img/icon-whatsapp-2x.png");
			background-size: cover;
		}
	}
}

.contacts__item--telegram {
	a {
		background: transparent url("../img/sprite-bureau.png") no-repeat center;
		background-position: -506px -50px;
	}
}

@media (min-resolution: 1.5dppx) {
	.contacts__item--telegram {
		a {
			background-image: url("../img/icon-telegram-2x.png");
			background-size: cover;
		}
	}
}

