.partners {
	padding: 3% 0;
	background-color: @grey;
}

.partners__title {
	.no-margins();
	font-family: @o-sans;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
}

.partners__list {
	.flex();
	flex-wrap: wrap;
	align-items: center;
	.list-style-none();
	margin-top: 3%;
	padding: 0 12.5%;
}

.partners__item {
	width: 17%;
	max-height: 6%;
	margin-bottom: 2.5%;
	margin-right: 2.5%;
	text-align: center;
	img {
		max-width: 136px;
		max-height: 74px;
	}
}

