.social {
	padding: 3% 0;
	background-color: @white;
}

.social__title {
	.no-margins();
	margin: 0 22%;
	font-family: @o-sans;
	font-size: 28px;
	line-height: 28px;
	text-align: center;
}

.social__list {
	.flex();
	.list-style-none();
	margin-top: 1.75%;
}

.social__item {
	width: 18%;
	box-sizing: border-box;
	padding-top: 18px;
	padding-bottom: 18px;
	border-color: #ebebeb;
	a {
		padding-left: 38px;
		text-decoration: none;
		color: #7d7d7d;
	}
}